<?xml version="1.0" encoding="utf-8"?>
<config>
  <ignore>
    <!-- 忽略多个中的任意一条。 -->
    <add Containt="Do not draw frame because HWND not set yet, consumer:" />
  </ignore>
  <containt>
    <!-- 包含多个中的任意一条，支持“*” -->
    <add Containt="*" />
  </containt>
  <out fileName="ConsoleListener.log" />
  <!--  Color range:
		Black, DarkBlue, DarkGreen, DarkCyan, DarkRed, DarkMagenta, DarkYellow, Gray, DarkGray, Blue, Green, Cyan, Red, Magenta, Yellow, White 
    -->
  <color foregroundColor="Green" backgroundColor="Black" />
</config>

<!--   Processing logic

		if (ignoreList.Count > 0)
		{
			if (!ignoreList.Any(x=>msg.Contains(x)))
			{
				if (containtList.Count == 0 
					|| containtList.Any(x => msg.Contains(x)) 
					|| containtList.Any(x => "*"))
				{
					writer;
				}
			}
		}
		else if (ignoreList.Count == 0)
		{
			if (containtList.Count == 0 || containtList.Any(x => msg.Contains(x)))
			{
				writer;
			}
		}
-->
